page-forget {
  $transparent-white: rgba(255, 255, 255, .6);
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  span {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
    border:none !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
  }

  .login-button {
    text-transform: none;
    border-radius: 3px !important;
  }
}
